.card-item {
  padding-top: 16px;
  display: flex;
  gap: 20px;
}

.card-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-about h1 {
  text-align: center;
  padding: 8px 16px;
}

.card-img {
  width: 350px;
}

.competencies-container {
  display: flex;
  width: 60%;
  flex-direction: column;
  gap: 20px;
}

.competencies-block {
  display: flex;
  max-width: 80%;
  gap: 20px;
  background: rgb(35, 38, 40);
  border: 2px solid #fff;
}

.competencies-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 8px;
}

.competencies-item h2 {
  color: #fff;
}

.competencies-item p {
  font-size: 24px;
  color: rgb(170, 170, 170);
}

button {
  width: 200px;
  padding: 16px;
  font-size: 18px;
  background: #000;
}

.filter-buttons {
  display: flex;
  gap: 20px;
}

.form-container {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  background: #000000a2;
  height: 100vh;
  width: 100%;
  font-size: 32px;
  text-align: center;
  z-index: 1;
}

.form-competency {
  position: relative;
  display: flex;
  margin: 10% auto;
  gap: 20px;
  flex-direction: column;
  label {
    display: flex;
    flex-direction: column;
    input {
      height: 30px;
      font-size: 100%;
      color: #000;
    }
  }
}

.delete-competence {
  position: absolute;
  right: -30px;
  top: -30px;
  cursor: pointer;
}